@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Visuelt Pro";

  font-display: swap;
  src:
    url("../../assets/fonts/visuelt-pro-regular.woff2") format("woff2"),
    url("../../assets/fonts/visuelt-pro-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Visuelt Pro";

  font-display: swap;
  src:
    url("../../assets/fonts/visuelt-pro-bold.woff2") format("woff2"),
    url("../../assets/fonts/visuelt-pro-bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", "Tahoma", sans-serif;
  color: #000000;

  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.link {
  transition: color 0.3s ease;
}

.link svg path,
.link svg rect {
  transition: fill 0.3s ease;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  min-width: 162px;
  padding: 15px;

  font-family: "Visuelt Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
  text-shadow:
    1px 1px 1px rgba(51, 51, 51, 0.4),
    0.5px 0.5px 0px rgba(51, 51, 51, 0.6);

  border: 2px solid #ffffff;
  border-radius: 4px;
  outline: none;
}

.header {
  background-color: #ffffff;
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-menu {
  display: flex;
  list-style: none;
  min-width: 160px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.header__main-menu-item {
  margin-right: 17px;
}

.header__main-menu-link svg {
  display: block;
  width: 28px;
  height: 28px;
}

.header__main-menu-link:hover svg path,
.header__main-menu-link:hover svg rect {
  fill: lightseagreen;
}

.header__logo-wrapper {
  flex: 0 0 auto;
}

header-logo img {
  width: 122px;
  height: 40px;
}

.header__user-menu {
  display: flex;
  list-style: none;
  min-width: 160px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.header__user-menu-item {
  margin-left: 26px;
}

.header__user-menu-link svg {
  display: block;
  width: 20px;
  height: 20px;
}

.header__user-menu-link:hover svg path {
  fill: lightseagreen;
}

.intro {
  position: relative;
  min-height: calc(100vh - 80px);
  padding: 190px 0;
  background-color: #d4d4d4;
}

.intro__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.intro__content {
  position: relative;
  z-index: 2;
  margin-top: auto;
  margin-left: 42px;
}

.intro__logo {
  margin-bottom: 60px;
}

.intro__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
}

.intro__bg-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}